// Display


// display
.block { display: block !important; }
.in-block { display: inline-block !important; }
.flex { display: flex !important; }
.in-flex { display: inline-flex !important; }
.spacer { flex: 1 1 auto !important; }

// position
.relative { position: relative !important; }
.absolute { position: absolute !important; }
.fixed { position: fixed !important; }

// direction
.f-col { flex-direction: column !important; }
.f-col-r { flex-direction: column !important; }
.f-row { flex-direction: row !important; }
.f-row-r { flex-direction: row-reverse !important; }

// flex-wrap
.f-nowrap { flex-wrap: nowrap !important; }
.f-wrap { flex-wrap: wrap !important; }
.f-wrap-r { flex-wrap: wrap-reverse !important; }

// justify-content
.jc-s { justify-content: flex-start !important; }
.jc-c { justify-content: center !important; }
.jc-e { justify-content: flex-end !important; }
.jc-sb { justify-content: space-between !important; }
.jc-sa { justify-content: space-around !important; }

// align-items
.ai-s { align-items: flex-start !important; }
.ai-c { align-items: center !important; }
.ai-e { align-items: flex-end !important; }
