/* Display
----------------------*/

/* Display */
.block { display: block !important }
.in-block { display: inline-block !important }
.flex { display: flex !important }
.in-flex { display: inline-flex !important }

/* Direction */
.f-col { flex-direction: column; }
.f-colR { flex-direction: column; }
.f-row { flex-direction: row; }
.f-rowR { flex-direction: row-reverse; }

/* Justify Content */
.jc-s { justify-content: flex-start !important }
.jc-c { justify-content: center !important }
.jc-e { justify-content: flex-end !important }
.jc-sb { justify-content: space-between !important }
.jc-sa { justify-content: space-around !important }

/* Align Items */
.ai-s { align-items: flex-start !important }
.ai-c { align-items: center !important }
.ai-e { align-items: flex-end !important }