/* Display
----------------------*/

/* Display */
.block { display: block !important }
.in-block { display: inline-block !important }
.flex { display: flex !important }
.in-flex { display: inline-flex !important }

/* Direction */
.f-col { flex-direction: column; }
.f-colR { flex-direction: column; }
.f-row { flex-direction: row; }
.f-rowR { flex-direction: row-reverse; }

/* Justify Content */
.jc-s { justify-content: flex-start !important }
.jc-c { justify-content: center !important }
.jc-e { justify-content: flex-end !important }
.jc-sb { justify-content: space-between !important }
.jc-sa { justify-content: space-around !important }

/* Align Items */
.ai-s { align-items: flex-start !important }
.ai-c { align-items: center !important }
.ai-e { align-items: flex-end !important }

// Widths
.f1 { flex-basis: calc((100% / 20) * 1) !important }
.f2 { flex-basis: calc((100% / 20) * 2) !important }
.f3 { flex-basis: calc((100% / 20) * 3) !important }
.f4 { flex-basis: calc((100% / 20) * 4) !important }
.f5 { flex-basis: calc((100% / 20) * 5) !important }
.f6 { flex-basis: calc((100% / 20) * 6) !important }
.f7 { flex-basis: calc((100% / 20) * 7) !important }
.f8 { flex-basis: calc((100% / 20) * 8) !important }
.f9 { flex-basis: calc((100% / 20) * 9) !important }
.f10 { flex-basis: calc((100% / 20) * 10) !important }
.f11 { flex-basis: calc((100% / 20) * 11) !important }
.f12 { flex-basis: calc((100% / 20) * 12) !important }
.f13 { flex-basis: calc((100% / 20) * 13) !important }
.f14 { flex-basis: calc((100% / 20) * 14) !important }
.f15 { flex-basis: calc((100% / 20) * 15) !important }
.f16 { flex-basis: calc((100% / 20) * 16) !important }
.f17 { flex-basis: calc((100% / 20) * 17) !important }
.f18 { flex-basis: calc((100% / 20) * 18) !important }
.f19 { flex-basis: calc((100% / 20) * 19) !important }
.f20 { flex-basis: calc((100% / 20) * 20) !important }