// Text


// Style
.txt-thin { font-weight: 300 !important; }
.txt-bold { font-weight: bold !important; }
.txt-italic { font-style: italic !important; }
.txt-uppercase { text-transform: uppercase !important; }
.txt-lowercase { text-transform: lowercase !important; }
.txt-capitalize { text-transform: capitalize !important; }

// Size
.txt-0 { font-size: .75em !important; }
.txt-1 { font-size: .9em !important; }
.txt-2 { font-size: 1em !important; }
.txt-3 { font-size: 1.2em !important; }
.txt-4 { font-size: 1.4em !important; }
.txt-5 { font-size: 1.6em !important; }
.txt-6 { font-size: 1.8em !important; }
.txt-7 { font-size: 2em !important; }
.txt-8 { font-size: 2.4em !important; }
.txt-9 { font-size: 3em !important; }
.txt-10 { font-size: 4em !important; }

// Align
.txt-left { text-align: left !important; }
.txt-center { text-align: center !important; }
.txt-right { text-align: right !important; }

// Others
.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
